model_config_list {
  config {
    name: 'inception'
    base_path: '/models/inception'
    model_platform: 'tensorflow'
  }
  config {
    name: 'marker_quality_control'
    base_path: '/models/marker_quality_control'
    model_platform: 'tensorflow'
  }
  config {
    name: 'mobilenet_v1_640x640'
    base_path: '/models/mobilenet_v1_640x640'
    model_platform: 'tensorflow'
  }
   config {
    name: 'mobilenet_v1_640x640_detect_classif'
    base_path: '/models/mobilenet_v1_640x640'
    model_platform: 'tensorflow'
  }
  config {
    name: 'mask_classification_model'
    base_path: '/models/mask_classification_model'
    model_platform: 'tensorflow'
  }
}
