[flake8]
exclude =
    .git,
    __pycache__,
    venv,
    idea,
    .venv
max-complexity = 11
max-line-length = 120
inline-quotes = '"'
multiline-quotes = """
avoid-escape = True
extend-ignore =
    E203,
    W503
