{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "links": [],
  "panels": [
    {
      "datasource": "IotHub Metrics",
      "description": "Get Quota Metrics",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 0,
        "y": 0
      },
      "id": 4,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "value",
          "source": "url",
          "type": "json",
          "url": "",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "IoTHub status",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "maxValue": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "#49f252",
            "mode": "palette-classic"
          },
          "custom": {
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            }
          },
          "mappings": []
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Disconnected"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "semi-dark-red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Connected"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "light-green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 4,
        "w": 5,
        "x": 12,
        "y": 0
      },
      "id": 16,
      "options": {
        "displayLabels": [],
        "legend": {
          "displayMode": "list",
          "placement": "right",
          "values": []
        },
        "pieType": "pie",
        "reduceOptions": {
          "calcs": [
            "sum"
          ],
          "fields": "/^status \\(count\\)$/",
          "values": true
        },
        "tooltip": {
          "mode": "multi"
        }
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "devices?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Devices status",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "authentication": true,
              "cloudToDeviceMessageCount": true,
              "connectionStateUpdatedTime": true,
              "deviceId": true,
              "etag": true,
              "generationId": true,
              "lastActivityTime": true,
              "statusReason": true,
              "statusUpdatedTime": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        },
        {
          "id": "groupBy",
          "options": {
            "fields": {
              "connectionState": {
                "aggregations": [
                  "sum"
                ],
                "operation": "groupby"
              },
              "status": {
                "aggregations": [
                  "count"
                ],
                "operation": "aggregate"
              }
            }
          }
        }
      ],
      "type": "piechart"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "connectionStateUpdatedTime"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 234
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "deviceId"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 210
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "lastActivityTime"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 219
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "cloudToDeviceMessageCount"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 18
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "authentication"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 303
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "statusUpdatedTime"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": null
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 7,
        "w": 12,
        "x": 0,
        "y": 4
      },
      "id": 2,
      "options": {
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "devices?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Devices informations",
      "transformations": [
        {
          "id": "filterFieldsByName",
          "options": {
            "include": {
              "names": [
                "deviceId",
                "connectionState",
                "connectionStateUpdatedTime"
              ]
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "deviceId"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 206
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 4
      },
      "id": 6,
      "options": {
        "frameIndex": 0,
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "8.1.1",
      "repeat": null,
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "/devices/vio-device-raspberrypi-1-{{ deployment_env }}/modules?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Device 1 - Modules",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "authentication": true,
              "cloudToDeviceMessageCount": true,
              "connectionState": false,
              "connectionStateUpdatedTime": true,
              "deviceId": true,
              "etag": true,
              "generationId": true,
              "lastActivityTime": false,
              "managedBy": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "Telemetry Postgres",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 11
      },
      "id": 14,
      "options": {
        "showHeader": true,
        "sortBy": [
          {
            "desc": true,
            "displayName": "timestamp"
          }
        ]
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "format": "table",
          "group": [],
          "metricColumn": "none",
          "queryType": "randomWalk",
          "rawQuery": true,
          "rawSql": "select * from iothub.telemetry",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "value"
                ],
                "type": "column"
              }
            ]
          ],
          "timeColumn": "time",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            }
          ]
        }
      ],
      "title": "Business Decisions",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Total": true,
              "id": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 12,
        "y": 12
      },
      "id": 8,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "/devices/vio-device-raspberrypi-2-{{ deployment_env }}/modules?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Device 2 - Modules",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "authentication": true,
              "cloudToDeviceMessageCount": true,
              "connectionState": false,
              "connectionStateUpdatedTime": true,
              "deviceId": true,
              "etag": true,
              "generationId": true,
              "lastActivityTime": false,
              "managedBy": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 12,
        "y": 17
      },
      "id": 10,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "/devices/vio-device-raspberrypi-3-{{ deployment_env }}/modules?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Device 3 - Modules",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "authentication": true,
              "cloudToDeviceMessageCount": true,
              "connectionStateUpdatedTime": true,
              "deviceId": true,
              "etag": true,
              "generationId": true,
              "lastActivityTime": false,
              "managedBy": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": "IotHub",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 21
      },
      "id": 12,
      "options": {
        "showHeader": true
      },
      "pluginVersion": "8.1.1",
      "targets": [
        {
          "columns": [],
          "csv_options": {
            "columns": "",
            "comment": "",
            "delimiter": ",",
            "relax_column_count": false,
            "skip_empty_lines": false,
            "skip_lines_with_error": false
          },
          "data": "",
          "filters": [],
          "format": "table",
          "global_query_id": "",
          "queryType": "randomWalk",
          "refId": "A",
          "root_selector": "",
          "source": "url",
          "type": "json",
          "url": "/devices/vio-device-raspberrypi-4-{{ deployment_env }}/modules?api-version=2020-05-31-preview",
          "url_options": {
            "data": "",
            "method": "GET"
          }
        }
      ],
      "title": "Device 4 - Modules",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "authentication": true,
              "cloudToDeviceMessageCount": true,
              "connectionState": false,
              "connectionStateUpdatedTime": true,
              "deviceId": true,
              "etag": true,
              "generationId": true,
              "lastActivityTime": false,
              "managedBy": true,
              "moduleId": false
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    }
  ],
  "schemaVersion": 30,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "2021-08-19T23:00:43.584Z",
    "to": "2021-08-20T23:00:43.584Z"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Devices Information",
  "uid": "GOHtxJn7a",
  "version": 9
}
